@charset "utf-8";
/* CSS Document */
mark {
	color:purple;
}
img {
	height:400px;
}
p {
	color: ghostwhite;
	font-family:"germania-one";
	font-size: 20px;
	line-height: 22px;
	width: 600px;
}
h1, h2, h3 {
	font-family:"germania-one";
	color:mediumpurple;
}
.naslovidva {
	font-family:"germania-one";
	color:black;
}
body {
	background-color:black;
}
.drugapozadina {
	background-color:mediumorchid;
}
a:link {
	color:black;
	background-color:white;
	padding:5px;
	line-height:40px;
	border:5px solid #D35F06;
}
a:hover { 
	background-color:darkgray;
}
li {
	color:white;
}
img {
	height:400px;
}